{% extends 'base.html' %}
{% block title %}Boggle: Game Board{% endblock %}

{% block content %}

    <!-- <h1>Boggle!</h1> -->
    
<div id="boggle_game_div">
    <div id="guess_div">
        <form action="" method="GET">
            <input type="text" id="guess_input" name="guess">
            <button type="submit" id="guess_button">Submit Guess</button>
        </form>
        <div id="guess_results">
            <div id="guess_outcome_div">
                <label for="guess_outcome" id="guess_outcome_word">Guess:</label>
                <p id="guess_outcome">outcome</p>
            </div>
            <p id="score" data-score="0">0 points</p>
            <p id="timer" data-time=""></p>
        </div>
    </div>

    
    <div id="boggle_board_table_and_results">
        <div id="boggle_board_table_div">
            <table id="boggle_board_table">
                {% for row in session['boggle_board'] %}
                <tr>
                    {% for space in row %}
                    
                    <td>{{space}}</td>
                    
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        
        
        <div id="boggle_board_results">
            <h3>Correct Guesses</h3>
            <ul id="results_list">
                
            </ul>
        </div>
    </div>
</div>
    
{% endblock %}

{% block scripts %}
<script src="/static/board.js"></script>
{% endblock %}  